/* CSS Document */

.campaign_logo,
.conference_logo
{
	border-left: 1px solid <$lightgreen>;
	border-bottom: 1px solid <$lightgreen>;
	float: right;
	padding: 5px;
	margin-left: 15px;
	margin-bottom: 5px;
	margin-right: -10px;
	margin-top: -10px;
	background-color: <$white>;
}