[submodule "libs/jsmin"]
	path = libs/jsmin
	url = git://github.com/rgrove/jsmin-php.git
[submodule "libs/magpierss"]
	path = libs/magpierss
	url = git://github.com/kellan/magpierss.git
[submodule "libs/nicedog"]
	path = libs/nicedog
	url = git://github.com/andreineculau/nicedog.git
[submodule "tpl.main/js/jquery"]
	path = tpl.main/js/jquery
	url = git://github.com/jquery/jquery.git
