/libs/image_data/*
/libs/magpierss_data/*
/libs/smarty_data/*
/libs/logs/*
/tpl.main/css/master.css
/tpl.main/css/generated/*
/tpl.main/css/source/vars_dynamic.css
/tpl.main/js_css_cache/*
/.htaccess
*.bak
*~
/statistics
