/* CSS Document */

#content .slider {
	self {
		width:620px;
		margin:0 auto;
		position:relative;
		padding-top:50px;
	}
	
	.scroll {
		self {
			clear:both;
			height:250px;
			width:620px;
			overflow:auto;
			overflow-x:hidden;
			position:relative;
			clear:left;
			border:1px solid $watergrey;
			background:#FFFFFF url($tpl_uri/img/slider/content_pane-gradient.gif) repeat-x scroll left bottom;
			border-radius:5px;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			box-shadow:0px 0px 5px $lightgrey;
			-webkit-box-shadow:0px 0px 5px $lightgrey;
			-moz-box-shadow:0px 0px 5px $lightgrey;
		}

		.scrollContainer div.panel {
			padding:20px 30px;
			height:210px;
			width:560px;
		}
		
		h1 {
			text-align:center;
		}
	}
	
	.navigation + .scrollButtons + .scroll {
		top:-30px;
	}
	
	.navigation {
		self {
			list-style:none;
			margin:0;
			padding:5px 30px;
			padding-bottom:0;
			top:0px;
			height:15px;
			font-size:35px;
		}

		li {
			self {
				float:left;
				position:relative;
				z-index:1;
			}
		
			a {
				padding:0 5px;
				color:$lightgrey;
				text-decoration:none;
				border-radius:0px;
				-webkit-border-radius:0px;
				-moz-border-radius:0px;
				text-shadow:0px 0px 5px $black;
				border:0;
				background-color:transparent;
			}
			
			a:hover {
				color:$white;
				background:none;
			}
			
			a.selected {
				color:$llgreen;
			}
			
			a:focus {
				outline:none;
			}
		}
	}

	.scrollButtons {
		position:absolute;
		top:55px;
		cursor:pointer;
		z-index:1;
	}
	
	.scrollButtons.left {
		left:5px;
		height:16px;
		width:16px;
		background:#fff url($tpl_uri/img/slider/scroll_left.png) no-repeat 0 0;
	}
	
	.scrollButtons.right {
		right:5px;
		height:16px;
		width:16px;
		background:#fff url($tpl_uri/img/slider/scroll_right.png) no-repeat 0 0;
	}
}