/* CSS Document */

.sb, .sbi, .sb *, .sbi *
{
	position:relative;
}

* html .sb, * html .sbi
{
	height:1%;
}

.sbi
{
	display:inline-block;
}

.sb-inner
{
	background:#fff;
}

.sb-shadow
{
	background:#FCC90D;
}

.sb-border
{
	background:#FCC90D;
}